@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a98f7;
}
.wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    text-align: center  ;
}
.wrapper header {
    font-size: 18px;
    font-weight: 500;
}
.wrapper .input-field  {
                margin: 25px 0;
                gap: 20px;
                display: flex;
                justify-content: center;
}
.input-field input,
.input-field button {
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    outline: none;
    width: calc(100% / 2 - 20px);
}
.input-field input {
    border: 2px solid #aaa;
      text-align: center;
    font-size: 18px;
    width: 110px;
}
.input-field input:disabled {
    cursor: not-allowed;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}
.input-field button  {
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: #4a98f7;
    color: #fff;
    cursor:pointer;
    transition: all 0.3s ease;
}
.input-field button:active {
       transform: scale(0.97);
}